.click {
    display: inline-block;
    padding: 1px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:#5D4037;
    background-color: #DEDEDE;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
  .click:hover {background-color: #D2D2D2}
  .click:active {
    background-color: #AAAAAA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }